<script type="application/ld+json">
	{
		"@context":"http://schema.org",
		"@type": "BlogPosting", {{ with .Resources.Match "icon" }}{{ range . }}
		"image": "{{ .Permalink }}", {{ end }}{{ end }}		
		"url": "{{ .Permalink }}",
		"headline": "{{ .Title }}",
		"alternativeHeadline": "{{ .Title }}",
		"dateCreated": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
		"datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
		"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
		"inLanguage": "{{ .Site.LanguageCode }}",
		"isFamilyFriendly": "true",
		"copyrightYear": "2018",
		"copyrightHolder": "{{ .Site.Params.name }}",
		"contentLocation": {
			"@type": "Place",
			"name": "{{ .Site.Params.locations.primary.address.city }}"
		},
	 "accountablePerson": {
			"@type": "Person",
			"name": "{{ .Site.Params.authors.harry.name }}",
			"url": "{{ .Site.BaseURL }}"
		},
		"author": {
			"@type": "Person",
			"name": "{{ .Site.Params.authors.harry.name }}",
			"url": "{{ .Site.BaseURL }}"
		},
		"creator": {
			"@type": "Person",
			"name": "{{ .Site.Params.authors.harry.name }}",
			"url": "{{ .Site.BaseURL }}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "{{ .Site.Params.name }}",
			"url": "{{ .Site.BaseURL }}",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ .Site.BaseURL }}{{ .Site.Params.logourl }}",
				"width":"357",
				"height":"60"
			}
		},
		"mainEntityOfPage": "True",
		"keywords": [ {{ if .Keywords }}
			{{ range $i, $e := .Keywords }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}
		{{ else }}
			{{ range $i, $e := .Site.Params.keywords }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}{{ end }}
		],
		"genre":["{{ .Site.Params.name }}"],
		"articleSection": "{{ .Site.Params.name }}",
		"articleBody": "{{ .Plain }}"
	}
</script>

<!-- <script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "BlogPosting",
	  "headline": "{{ .Title }}",
	  "mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{ .Permalink }}"
	  },
	  {{ if ge (.Param "lua.image.width") 696 -}}
	  "image": {
		"@type": "ImageObject",
		"url": "{{ .Param "lua.image.url" | absURL }}",
		"width": {{ .Param "lua.image.width" }},
		"height": {{ .Param "lua.image.height" }}
	  },
	  {{- else if ge .Site.Params.image.width 696 -}}
	   "image": {
		"@type": "ImageObject",
		"url": "{{ .Site.Params.image.url | absURL }}",
		"width": {{ .Site.Params.image.width }},
		"height": {{ .Site.Params.image.height }}
	  },
	  {{- end }}
	  "genre": "{{ .Type }}",
	  {{ with .Params.tags -}}
	  "keywords": "{{ delimit . ", " }}",
	  {{- end }}
	  "wordcount": {{ .WordCount }},
	  "url": "{{ .Permalink }}",
	  {{ if not .PublishDate.IsZero -}}
	  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
	  {{- else if not .Date.IsZero -}}
	  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
	  {{- end }}
	  {{ with .Lastmod -}}
	  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
	  {{- end }}
	  {{ with .Site.Copyright -}}
	  "license": "{{ . }}",
	  {{- end }}
	  {{ with .Site.Params.publisher -}}
	  "publisher": {
		"@type": "Organization",
		"name": "{{ .name }}",
		"logo": {
		  "@type": "ImageObject",
		  "url": "{{ .logo.url | absURL }}",
		  "width": {{ .logo.width }},
		  "height": {{ .logo.height }}
		}
	  },
	  {{- end }}
	  {{ if .Params.author -}}
	  "author": {
		"@type": "Person",
		"name": "{{ .Params.author }}"
	  },
	  {{- else if .Site.Author.name -}}
	  "author": {
		"@type": "Person",
		"name": "{{ .Site.Author.name }}"
	  },
	  {{- end }}
	  "description": "{{ .Description }}"
	}
	</script> -->